{% extends 'weather/base.html' %}

{% block header %}
    <p>前のページへ<a href="/weather" class="comeback">戻る</a></p>
    {%for i in df_city%}
    <h2>{{ i }}の天気</h2>
    {%endfor%}
{% endblock header %}

{% block content %}
    <table border="1">
        <tr>
            <th>#</th>
            {%for i in df_data%}
                <th>{{ i }}</th>
            {%endfor%}
        </tr>
        <tr>
            <th>今日</th>
            {%for i in df_today%}
                <td>{{ i }}</td>
            {%endfor%}
        </tr>
        <tr>
            <th>明日</th>
            {%for i in df_tomo%}
                <td>{{ i }}</td>
            {%endfor%}
        </tr>
    </table>
{% endblock content %}