{% extends 'weather/base.html' %}

{% block header %}
    <p>前のページへ<a href="{% url 'weather:index' %}" class="comeback">戻る</a></p>
    {%for i in df_city%}
    <h2>{{ i }}の天気</h2>
    {%endfor%}
{% endblock header %}

{% block content %}
    <table border="3" bordercolor="#ffb2b2">
        <tr>
            <th>#</th>
            {%for i in df_data%}
                <th>{{ i }}</th>
            {%endfor%}
        </tr>
        <tr>
            {%for i in df_day%}
            <th>今日({{ i }})</th>
            {%endfor%}
            {%for i in df_today%}
                <td>{{ i }}</td>
            {%endfor%}
        </tr>
        <tr>
            {%for i in df_day2%}
            <th>明日({{ i }})</th>
            {%endfor%}
            {%for i in df_tomo%}
                <td>{{ i }}</td>
            {%endfor%}
        </tr>
    </table>
{% endblock content %}