{% extends 'weather/base.html' %}

{% block header %}
<p>ホームへは<a href="/" class="comeback">こちら</a></p>
{% endblock header %}

{% block content %}
    <form action="{% url 'weather:getweather' %}" method="POST">
        {% csrf_token %}
        <label>市町村を選択しましょう！</label><br>
        <select name="city">
            <option value="osakasi">大阪市</option>
            <option value="hujiiderasi">藤井寺市</option>
            <option value="shinjuku">新宿</option>
        </select>
        <input type="submit" class="btn btn-gradient" value="お天気取得">
    </form>
{% endblock content %}